body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
  background-color: #fdffbc;
}

h1 {
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
  color: #184d47;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #184d47;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #184d47;
}
.programiranje {
  height: 200px;
  width: 200px;
 float:left;
 margin-right: 30px;
}
.ja {
  border-radius: 100%;
  width: 10%;
}

.Kak{
  font-family: 'Sacramento', serif;
  font-size: 2.5rem;
  font-style: italic;
  margin-top: 10px;
  color: #184d47;
}

.div1 {
  background:linear-gradient(to bottom, #599bb3 50%, #42bacc 90%);
	background-color:#599bb3;
  position: relative;
  padding-top: 100px;
}

.oblak1 {
  position: absolute;
  right: 300px;
  top: 50px;

}
.oblak2 {
   position: absolute;
   left: 300px;
   bottom: 300px;
   }

   .skill-row {
     width: 50%;
     margin: 100px auto 100px auto;
     text-align: left;
     line-height: 2;

   }
   .hobiji {
     width: 25%;
     float:right;
     margin-left: 20px;
   }
.middle-container {
  background-color: #fdffbc;
  margin: 100px 0;

}

.bottom-container {
  background-color: #276873;
  padding: 50px 0 20px;
}

hr {
  border: dotted #276873 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.myButton {
  margin-top: 50px;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #42bacc 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #42bacc 5%, #599bb3 100%);
	background-color:#42bacc;
}
.myButton:active {
	position:relative;
	top:1px;
}

 a {
  color: #184d47;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color:#ffffff;
}
.namesurname {
 color:#ffffff;
 font-size: 0.75rem;
 padding: 20px 0;
}
